@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: #ffea00;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div.selection {
  display: flex;
  justify-content: center;
  gap: 1%;
}

div.selection button {
  border: none;
  padding: 0;
  background: none;
  position: relative;
} 

div.selection button:hover {
  top: -8px;
}

div.selection button:active {
  box-shadow: 0 5px #ffea00;
  transform: translateY(8px);
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-size: 70px;
  font-weight: bolder;
}

.update {
  font-size: 35px;
}

.details {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 5%;
}

.hide {
  display: none;
}